/* 右の仕様を満たすように CSS を書いて実装してみましょう */
/* この課題ではフレックスボックスを使ってはいけません */

a {
  display:inline-block;
  width:140px;
  height:25px;
  background:royalblue;
  color:white;
  padding:10px;
  text-align:center;
  border-radius:5px;
  text-decoration:none;
}

a:hover {
  opacity:0.8;
}