.box1 {
  background-color: orange;
  width: 100px;
  height: 100px;

}
.box2 {
  background-color: skyblue;
  width: 100px;
  height: 100px;
  position: static; /* 初期値 通常どおりに配置せよ */
  
  position: relative; /* staticの一からずらして配置したい場合 */
  top:30px;   /* staticの位置から30px分移動する */
  left:30px;
  
  position: fixed; /* windowの左上を起点にする スクロールしても動かない */
  top:30px;   /* 左上の位置から30px分移動する */
  left:30px;

}
.box3 {
  background-color: tomato;
  width: 100px;
  height: 100px;
}
