p{
  line-height: 5;
  background-color: pink;

}

.img1 {
  vertical-align: bottom;
}

.img2 {
  vertical-align: top;
}

.img3 {
  vertical-align: baseline;
}

.img4 {
  vertical-align: middle;
}

.img5 {
  vertical-align: 2px;
}

.img6 {
  vertical-align: -2px;
}