body{
  padding: 64px;
}



.box1{
  /* 変化前 */
  background: skyblue;
  width:100px;
  height: 100px;

  /* 中間を補完 */
  transition-property: transform,background; /* 中間を補完するプロパティはtransform */
  transition-duration: 1s; /* それにかかる時間はｘ秒 */
}

/* マウスホバーで回転する */
.box1:hover {
  /* 変化後 */
  transform: translateX(50px);
  background: orange;
}

