div {
  color:white;
  box-sizing: border-box;
}

.box1{
  width: 100px;
  height: 100px;
  background: red;
  margin-bottom:16px;
  border:10px green solid;
}

.box2{
  width: 100px;
  height: 100px;
  background: pink;
  margin-bottom:16px;
  border-bottom:10px solid purple;
}

.box3{
  width: 100px;
  height: 100px;
  background: skyblue;
  text-align: center;
  border-radius: 50%;
  line-height: 100px;

}
