.box1 {
  background-color: orange;
  width: 100px;
  height: 100px;

}
.box2 {
  background-color: skyblue;
  width: 100px;
  height: 100px;
  /* position: static; */
  position: relative;
}

.box3 {
  background-color: tomato;
  width: 100px;
  height: 100px;
}

.rect {
  width:  50px;
  height: 20px;
  background-color: lime;
  position: absolute; /* 絶対配置 */
  /* 親要素がstaticであれば左上を起点とする */
  /* 親要素がstatic以外であれば親要素を起点とする */
  /* top: 30px;
  left: 10px; */
  top: -5px;
  right: -5px;
}


