.box1 {
  background-color: orange;
  width:200px;
  height: 200px;
  /* margin-bottom: 20px; */ 
  margin: 0 0 20px;    /* 下に余白が20pxできる */
  margin-left: auto;   /* 左に余白 */
  margin-right: auto;  /* 右に余白。上と合わせて結果的に中央となる */
  
}
.box2 {
  background-color: skyblue;
  width: 50%;
  height: 50%;


}
.box3 {
  background-color: tomato;
}