p{
  font-size:16px;
  /* line-height: 48px; */
  line-height: 3em; /* ３文字分の高さ emは１文字の単位 */

  background-color: pink;
}

main{
  font-size:32px;
  line-height:2em;  /* 32pxの2倍の64pxとなり、sectionにも継承される。 */
  /* line-height:2; */  /* こちらはフォントサイズの2倍という指定。sectionでは16pxの2倍の32pxとなる。 */

}

section {
  font-size:16px;
}